@import "tailwindcss";

html, body, #root {
  scroll-behavior: smooth;
   min-height: 100%;

    .swiper-pagination-bullet-active {
        background-color:rgb(214, 9, 9); 
    }

    .swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255);            /* cor da seta */
  width: 40px;           /* largura da área clicável */
  height: 40px;          /* altura da área clicável */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;       /* tamanho do ícone da seta */
  font-weight: bold;
}
}



.high-contrast {
  background-color: black !important;
  color: yellow !important;
}

.high-contrast a {
  color: cyan !important;
}

.custom-calendar {
  width: 550px;
  height: auto;
}

.swiper-pagination {
  @apply flex justify-center;
}
